/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('app/asset/images/img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
